*{
	font-family: Arial, sans-serif;/*Sempre ter mais de uma fonte caso a primeira não esteja instalada no pc do usuario*/
	margin:0;
	padding:0;
}
p{
	font-family: Arial,'Alice', serif;
	font-size: 1.2em;
	line-height: 1.5em; /*espaçamento de linha*/
}

h1{
	font-size: 36px;
	margin-bottom: 1em;
	text-align: center;
	line-height:1;
	margin-top:0;
}

h1, h2{
	font-family: 'Oswald', sans-serif;
	color: #ff0de7;
	text-transform: uppercase;
}

a{
	font-weight: bold;
	text-decoration: none;
	
}

body{
	width: 100%;
	height: 100%;
}

/*formatação de imagens do portfolio com legendas*/
	
	figure.foto-portfolio{
	position: relative;/*para deixar legenda na imagem precisa do absolute na conf. da legenda*/
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;/*sombra*/
	}
	
	figure.foto-portfolio img{/*para dimunuir e aumentar conforme tamanho da tela*/
	width: 100%;
	height: 100%;
	}
	
	figure.foto-portfolio figcaption{/*aqui configura a legendas*/
	text-align: center;
	font-size: 2rem;
	opacity: 0;/*some com a legenda*/
	position: absolute;/*para deixar legenda na imagem*/
	top: 0px;
	background-color: rgba(0,0,0,0.4);
	color: white;
	width: 100%;
	height: 100%;
	padding: 176px;/*espaço dentro da legenda*/
	box-sizing: border-box;/*cria um box dentro da borda para não sair da imagem*/
	transition: opacity 1s;/*efeito de transição para aparecer a legenda*/
	}
	
	/*figure.foto-legenda:hover figcaption{/*para quando passar a o mouse por cima da imagem a legenda aparecer*/
	/*opacity:1;
	}*/
	
/*formatação de imagens do blog com legendas*/
	
	figure.foto-blog{
	position: relative;/*para deixar legenda na imagem precisa do absolute na conf. da legenda*/
	/*border: 8px solid white;
	box-shadow: 1px 1px 4px black;/*sombra*/
	height: 100px;
	}
	
	figure.foto-blog img{/*para dimunuir e aumentar conforme tamanho da tela*/
	width: 100%;

	height: 350px;
	}
	
	figure.foto-blog figcaption{/*aqui configura a legendas*/
	text-align: center;
	font-size: 2rem;
	/*opacity: 0;some com a legenda*/
	position: absolute;/*para deixar legenda na imagem*/
	top: 0px;
	background-color: rgba(0,0,0,0.6);
	color: white;
	width: 100%;
	height: 100%;
	padding: 176px;/*espaço dentro da legenda*/
	box-sizing: border-box;/*cria um box dentro da borda para não sair da imagem*/
	transition: opacity 1s;/*efeito de transição para aparecer a legenda*/
	}
	

/* ------- MENU ------ */
/* Clearfix */
 .clearfix:before, .clearfix:after {
    content:" ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.barra-menu {
    width: 100%;
    overflow: hidden;
	background-color:#000;
	position: fixed;
	z-index:99;
}

.lista-menu li {
    display: inline-block;
    float: none;
    width: 15%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	background-color:#000;
}
.lista-menu li:last-child {
    border-right: none;
}
.lista-menu a, .btn-menu {
    display: block;
    width: 100%;
    height: 3em;
    line-height: 3em;
	color:#fff;
	
}
.btn-menu {
    display: none;
}
}

 .aln-izquierda {
    text-align: left;
}
.aln-centro {
    text-align: center;
}
.aln-derecha {
    text-align: right;
}

.lista-menu a, .btn-menu {
    text-decoration: none;
    color: #fff;
    background-color: #000;
}
.lista-menu a:hover {
    background-color: #ff0de7;
	
	
}

 @media screen and (max-width:1024px) {
    #pagina {
        width: 100%;
    }
    .btn-menu {
        display: block;
        background-color: #ff0de7;
    }
    #submenu {
        display: none;
    }
    .lista-menu li {
        display: block;
        float: none;
        width: 100%;
        
    }
}

.container{
	margin: 0 auto;/*top e botton=0 right e left=auto*/
	max-width: 940px;
	padding: 0 20px;/*top e botton=0 right e left=10px*/

}

.container img{
	width:100%;
	max-width:200px;
}

.main .container{
	margin: 80px auto;
}



.main{
	background-color: #fff;
}

.main .receber{
	padding: 0 30px;/*top e botton=0 right e left=10px*/
}

.main p{
	float: left;
	margin: auto;/*top right bottom left*/
	width:100%;
	max-width:400px;
}



.container2 img{
	border-radius: 100%;
	border-style: double;
	
}




/*Daniela*/

.home{
	background-color:#410080;
	background-size: cover;
	height: 100vh;
	color:#fff;
	border: solid 1px #410080;
	text-align: center;
	position: relative;
	
	height: 100%;
}

.logo {
	margin: 250px auto;
	width: 100%;
	height: 100%;
	

	}
	
	.logo h1{
	display: none;
	}
	
	
	
	/*Sobre mim*/
	.sobremim{
	background-color:#fff;
	background-size: cover;
	height: 100vh;
	color:#000;
	border: solid 1px #410080;
	text-align: center;
	position: relative;
	height: 100%;
}

	.sobre{
	margin: -56px auto -55px auto;/*top e botton=0 right e left=auto*/
	max-width: 940px;
	padding: 166px 12px 0px 12px;/*top e botton=0 right e left=10px*/
	top: 200px;
	width: 400px;
	text-align:justify;
}


	.principal{
	margin: 48px auto 4px auto;
	padding: 0px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}

	.principal img{
	float: left;
	margin: -76px 101px 50px 3px;/*top right bottom left*/
	width: 100%;
}

.conteudo{
	margin: -21px auto 129px auto;/*top e botton=0 right e left=auto*/
	max-width: 940px;
	padding: 10px 20px;/*top e botton=0 right e left=10px*/

}
.historia{
	background-color:#fff;
	margin: 166px 20px auto 20px;
	background-size: cover;
	text-align: justify;
	height: 100%;
}




	
/*Meus serviços*/
.servico{
	background-color:#fff;
	padding-top: 95px;
	padding-bottom: 69px;
	background-size: cover;
	height: 100vh;
	text-align: center;
	border-style: solid;
	border-color: #fff;
	
	height: 100%;
	

	
}
/*BLOG*/
.estrutura-blog{
	background-color:#fff;

	padding-bottom: auto;
	background-size: cover;
	height: 100vh;
	text-align: justify;
	border-style: solid;
	border-color: #fff;
	height: 100%;
}

.conteudo-blog{
	margin: 290px auto;/*top e botton=0 right e left=auto*/
	max-width: 940px;
	padding: 0 20px;/*top e botton=0 right e left=10px*/
	

}
.header-blog{
	background: url("../_imagens/site.jpg")no-repeat center center;
	background-size: cover;
	text-align: center;
	padding-bottom: 346px;
	font-size: 36px;
	height: 100px;
	text-align: center;
	line-height:1;
	margin-top:0;
	opacity:50%;
	
}


.header-blog h1{
	
	
	text-align: center;
	padding-top: 195px;
	font-size: 36px;
	margin-bottom: 1em;
	text-align: center;
	line-height:1;
	margin-top:0;
	filter: none;
	
}



/*.header{
	background: url("../_imagens/logo-rosa.png") no-repeat center center;/*fonte: http://www.santodigital.com.br/o-que-e-computacao-em-nuvem-que-beneficios-traz-para-educacao/*/
	/*dbackground-size: cover;/*deixa em todo o espaço da tela*/
	/*height: 100vh;
	text-align:left;
	position: relative;
	top: 0;
	left:0;
}

.header h1{
	color:#fff;
	line-height: 100px;/*espaçamento de 100px por linha*/
	/*font-size:80px;
	margin-top:0;
	margin-bottom:80px;	
}*/



.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.grid-item{
  margin:20px;
  width: 400px;
  text-align:center;
}

.grid-portfolio{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.grid-portfolio-item{
  margin:20px;

}

.grid-portfolio-item .thumbnail{
 
 width:100%;
	max-width:380px;

}



@media (min-width: 850px){
	.header h1{
		font-size: 120px;
	}
}

@media (min-width: 850px){
	.blog  .header h1{
		font-size: 120px;
	}
}




.btn{
	color:#fff;
	background:#000;
	padding: 5px 40px;/*top e botton=10px right e left=40px*/
	text-decoration:none;
	transition: background .5s;
}

.btn:hover, .nav ul li:hover{/*quando clicado*/
	background: #ff0de7;
	cursor:pointer;
	transition: background .5s;
}



.receber{
	background: url("../_imagens/sao-paulo.jpg");
	background-size: cover;
	height:600px;
}

.receber .container{
	position:relative;
	top:220px;
}

.receber h2{
	color:#fff;
	text-align:left;
}

.receber p{
	color:#fff;
	text-align: left;
}

.receber .btn{
	margin: 10px 0 0;
	float:left;
}

footer{
	background:#fff;
	text-align: center;
	color:#000;
	font-size: 1em;
	line-height: 20px;
	margin:0;
	width: 100%;
	height: 100%;
}









.blog h2{
	color: #e4bb97;
	background-color: #aa8eb5;
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: 500;
	text-align: left;
	text-transform: uppercase;
}

.blog ul{
	margin: 0 auto;
	padding: 0;
	width:50%;
}


.blog li{
	border-bottom: 1px solid #e4bb97;
	list-style: none;
	margin: 100px 0px;
	padding-bottom: 60px;
}

.blog p{
	color: #444;
	line-height: 32px;
	font-family: sans-serif;
	font-size: 20px;
	font-weight:100;
	position:relative;
	margin: 0px 0px  auto 300px;/*top e botton right e left*/

}

.blog a{
	color:#214e34;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	font-weight: 900;
	text-align:left;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing:2px;
	margin: 150px 0px  auto 300px;/*top e botton right e left*/
}

.blog img{
	float: left;
	margin: 10px 80px 50px 0;/*top right bottom left*/
}

