@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web); /*fonte de google*/

@font-face{/*fontes personalizadas google.com/fonts>quick user >@import*/
	font-family: 'FonteLogo';
	src: url("../_fonts/bubblegum-sans-regular.otf");
}
	body{
	background-color: #fff;
	color: rgba (0,0,0,1);
	margin: 0;
	padding: 0;
	}
	
	#inicio{
	padding-top: 10px;
	height: 100%;
	width: 100%;
	color: #fff;
	background-color: #077fff;
	}
	
	#quemSomos{
	padding-top: 10px;
	height: 100%;
	color: #fff;
	background-color: #6B238E;
	}
	
	#servicos{
	padding-top: 50px;
	height: 100%;
	color: #fff;
	background-color: #23238E;
	}
	
	header{
	width: 100%;
	}
	
	div#interface{
	background-color:#fff;
	margin: 0px auto 0px auto;/*cima, direita,baixo, esquerda*/
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);/*bloco com sombra*/
	/*padding: 10px; para tirar texto perto do box*/
	}
	
	p{
	text-align: justify;
	text-indent: 50px;
	}

	/*header#cabecalho{
	border-bottom: 1px #606060 solid;/*criar linha
	height: 130px;
	background: url("../_imagens/logo.jpg") no-repeat 0px 10px;
	background-color: #410080;
	}
	
	header#cabecalho h1{
	font-family: 'FonteLogo',sans-serif;
	font-size: 30pt;
	color:#606060;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.6);
	padding: 0px;
	margin-bottom: 0px;
	}
	
	header#cabecalho h2{
	font-family: 'Titillium Web', sans-serif;
	font-size: 15pt;
	color:#888;
	padding: 0px;
	margin-top: 0px;
	}*/
	
	/*formatação de imagens com legendas*/
	
	figure.foto-legenda{
	position: relative;/*para deixar legenda na imagem precisa do absolute na conf. da legenda*/
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;/*sombra*/
	}
	
	figure.foto-legenda img{/*para dimunuir e aumentar conforme tamanho da tela*/
	width: 100%;
	height: 100%;
	}
	
	figure.foto-legenda figcaption{/*aqui configura a legendas*/
	text-align: center;
	font-size: 100px;
	opacity: 0;/*some com a legenda*/
	position: absolute;/*para deixar legenda na imagem*/
	top: 0px;
	background-color: rgba(0,0,0,0.4);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;/*espaço dentro da legenda*/
	box-sizing: border-box;/*cria um box dentro da borda para não sair da imagem*/
	transition: opacity 1s;/*efeito de transição para aparecer a legenda*/
	}
	
	figure.foto-legenda:hover figcaption{/*para quando passar a o mouse por cima da imagem a legenda aparecer*/
	opacity:1;
	}
	
	/*Formatação do menu*/

	nav#menu{
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	background: rgb(255,0,255);
	font-weight: bold;
	color: #fff;
	position: fixed;/*fixar menu #410080*/
	}
	
	nav#menu ul{
	text-align: center;
	margin: 0;
	padding: 0;
	list-style: none;
	}

	nav#menu ul li a{
	font: 1em Trebuchet MS;
	color: #fff;
	text-decoration: none;/*tira cor do link*/
	}
	
	nav#menu ul li a:hover{/*quando mouse esiver em cima*/
	color: #BEBEBE;
	}

	nav#menu h1{
	display: none;
	}
	
	/*para ser responsivel*/
	/*smartphone*/
	@media only screen and (max-width: 480px)
	{
		nav#menu{
		height: 110px;
		}

		nav#menu ul li{
		width: 100%;
		display: none;
		float: left;
		position: relative;
		top: 51px;
		background: #410080;
		height: 30px;
		padding-top: 10px;
		border-bottom: 1px #fff solid;
		cursor: pointer;
		}
		
		.ind-botao{
		position: fixed;
		width: 65%;
		top: -2px;
		right: 0;
		cursor: pointer;/*para aparecer maozinha*/
		padding-right: 10%;
		text-align: right;
		}
		
		.ind-logo{
		position: absolute;
		width: 25%;
		left: 0;
		top: 0;
		text-align: center;
		}
		
		.ind-logo img{
		margin-top: 2px;
		max-width: 80px;
		padding-left: 10px;
		padding-bottom: 2px;
		position: fixed;
		}
	}
	
	/*tablet*/
	@media only screen and (min-width: 481px) and (max-width: 768px)
	{
		nav#menu{
		height: 110px;
		}
		
		nav#menu ul li{
		width: 100%;
		display: none;
		float: left;
		position: relative;
		top: 61px;
		background: #410080;
		height: 30px;
		padding-top: 10px;
		border-bottom: 1px #fff solid;
		cursor: pointer;
		}
		
		.ind-botao{
		position: fixed;
		width: 65%;
		top: -2px;
		right: 0;
		cursor: pointer;/*para aparecer maozinha*/
		padding-right: 10%;
		text-align: right;
		}
		
		.ind-logo{
		position: absolute;
		width: 25%;
		left: 0;
		top: 0;
		text-align: center;
		}
		
		.ind-logo img{
		margin-top: 5px;
		max-width: 100px;
		position: fixed;
		}
	}
	
	/*desktop*/
	@media only screen and (min-width: 769px)
	{
		nav#menu{
		height: 80px;
		padding-top: 30px;
		padding-left: 25%;
		}
		
		nav#menu ul li{
		width: 15%;
		margin-top: 20px;
		text-align: center;
		display: inline-block;/*fica em 1  linha*/
		float: left;
		}
		
		nav#menu ul li:last-child{
		color: BEBEBE;
		}
		
		.ind-botao{
		display: none;
		}
		
		.ind-logo{
		position: absolute;
		width: 25%;
		left: 0;
		top: 0;
		text-align: center;
		}
		
		.ind-logo img{
		padding-top: 5px;
		max-width: 100px;
		position: fixed;
		}
	}
	
	.ind-topo{
	float: left;
	width: 100%;
	background:410080;
	}
	

